<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="w-full min-h-screen bg-red-200 ">
        <div class="flex items-center justify-center p-4 text-white-900 ">
            <h1 class="text-3xl"> Signup Page</h1>
            <form action="/register" class="m-2" method="post">
            <!-- <label for="uid">UserId</label> -->
            <input type="text" name="username" placeholder="Enter userid" class="rounded-md px-2 py-1 outline-none ">
            <br>
            <input type="password" name="password" class=" px-2 py-1 rounded-md outline-none  mt-2" placeholder="Enter password">
               <br> <input type="Submit" value="Submit" class="bg-blue-400 px-2 py-1 rounded-md text-white-500 mt-2">
        </form>
        </div>


    </div>
    
</body>
</html>